/*GLOBAL STYLES*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Nutino', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

li{
    font-size: 1.6rem;
    color: #fafafa;
}

p{
    font-size: 1.6rem;
    color: #fff;
}

button{
    outline: 0;
    border: .1rem solid #fafafa;
    background: none;
    padding: 1rem 2.5rem;
    color: #fafafa;
    cursor: pointer;
    transition: background .6s;
}

button:hover{
    background: linear-gradient(135deg , rgb(0, 107, 179) 0% ,rgb(162, 0, 255) 100%);
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

section{
    padding: 5rem 0;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
    cursor: context-menu;
    color: #fafafa;
}

h2{
    font-size: 1.5rem;
}

.fix-gap{
    margin: 1rem auto;
}

/*HEADER*/
.header{
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(255, 255, 255, 0.459) 0%, rgb(31, 31, 31) 100%),
    url(https://img.freepik.com/free-vector/vintage-gradient-geometric-background_152558-6.jpg?size=626&ext=jpg) center no-repeat fixed;
    background-size: cover;
}

.header-slider{
    margin: 0 1.5rem;
}

.header .header-top-gap{
    padding: 10rem 0;
}

.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.main-nav{
    width: 100%;
    position: fixed;
    background: #0f0f0f;
    z-index: 300;
}

.nav-upper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.flex-left,.flex-right{
    display: inherit;
    align-items: center;
    justify-content: center ;
}

.nav-fix-gap{
    margin: 0 .6rem;
}

.nav-brand{
    display: block;
    width: 3.5rem;
    filter: invert(1);
}

.nav-search-text-box{
    margin: 0 1rem;
    width: 150%;
    background: rgb(255, 255, 255);
    font-size: 1.1rem;
    border: transparent;
    border-radius: 1rem;
    padding: 1rem;
    transform: translateY(-.2rem);
}

.search-box{
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-search-text-box:focus{
    outline: none;
}

.nav-search .search-icon{
    font-size: 2rem;
    color: #FFF;
    background-color: rgb(42, 177, 255);
    border-radius: 100%;
    padding: .5rem;
    cursor: pointer;
}

.cart-icon{
    color: #fafafa;
    font-size: 2.5rem;
}

.categories{
    z-index: 1;
    transition: all .6s;
}

.nav-categories{
    color: #fafafa;
    font-size: 1.5rem;
    cursor: pointer;
    background: rgba(31, 31, 31, 0.74);
    padding: 1rem 4.5rem;
    transition: all .6s;
}

.nav-categories-icon{
    color: #fafafa;
    font-size: 3rem;
    display: none;
}

.categories:hover .nav-categories{
    background: rgb(0, 0, 0);
}

.nav-categories-list{
    display: none;
    font-size: 1.5rem;
    position: absolute;
    top: 6rem;
    background: white;
    text-align: center;
    transition: all .6s;
}

.categories:hover .nav-categories-list{
    display: block;
}

.nav-categories-items{
    padding: 1rem 8.8rem;
    cursor: pointer;
    border-bottom: 0.13rem solid #83838386;
}

.menu-icon i{
    font-size: 2.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i{
    color: #ffffff;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-list{
    width: 25rem;
    height: 100vh;
    background:  #1d1d1d;
    box-shadow: 0 0 2rem rgba(0, 0, 0,1);
    position: fixed;
    top: 0;
    left: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4000;
    transition: all .5s ease-in-out;
}

.nav-list.active{
    left: 0;
}

.nav-items{
    padding: .5rem 2.5rem;
    width: 100%;
    border-bottom: .1rem solid #fafafa;
}

.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

/*FEATURED-PRODUCTS*/
.featured-items{
    width: 100%;
    background: #090909;
    color: #f9f9f9;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%,rgba(0, 0, 0, 0.8) 100%), url(https://image.freepik.com/free-vector/abstract-background-with-pink-3d-cube_23-2148383742.jpg) center;
    background-size: cover;
}

.featured-items-btns{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.featured-items-btns li{
    margin: 0 3rem;
    cursor: pointer;
}

.featured-items-btns li:hover{
    text-decoration: underline;
}

.women-items,.products-items{
    display: none;
}

.wrapper{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 1rem;
    object-fit: cover;
}

.shape{
    width: 100%;
    padding: 1rem;
    outline: .1rem solid #fafafa;
    outline-offset: -.3rem;
    display: grid;
    grid-gap: 1rem;
    color: #fafafa;
}

.shape p{
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
}

.box img{
    display: block;
    margin: 0 auto;
    width: 17rem;
    height: 17rem;
    object-fit: contain;
    cursor: pointer;
}

.rate-price,.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    transform: rotateY(180deg);
  }
  .rating input{
    display: none;
  }
  .rating label{
    display: block;
    cursor: pointer;
    position: relative;
  }
  .rating label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 1.5rem;
    color: #FFF;
  }
  .rating label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    display: block;
    font-size: 1.5rem;
    color: #1f9cff;
    opacity: 0;
    transition: all .5s;
    text-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
  }
  .rating label:hover:after,
  .rating label:hover ~ label:after,
  .raing label:checked ~ label:after{
    opacity: 1; 
}

.btns .heart-fav{
    font-size: 2rem;
    cursor: pointer;
    transition: all .6s;
}

.btns .heart-fav:hover{
    color: red;
}

/*BANNERS*/
.banner-imgs{
    width: 100%;
    object-fit: contain;
}

.banner-img2,
.banner-img3{
    display: none;
}

.banner-btns{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.fa-circle{
    margin: 0 1rem;
}

.circle-btn-1{
    color: green;
}

/*Multi-Banners*/
.multi-banners{
    background: linear-gradient(rgba(0, 0, 0, 0.596), rgb(49, 49, 49) 100%),
    url(https://image.freepik.com/free-vector/gradient-violet-dots-circles-geometric-shapes-dark-background_23-2148428979.jpg) no-repeat center fixed;
    background-size: cover;
}

.multi-banner-grid-width-fix{
    width: 30rem;
    color: black;
    position: relative;
    cursor: pointer;
    padding: 1rem;
}

.multi-banner-sub-grid{
    color: #fafafa;
    transition: all .6s;
    display: block;
    margin: 0 auto;
}

.multi-banner-sub-grid:hover{
    box-shadow: 0 0 2.2rem #fafafacc;
}

.multi-banner-grid-width-fix img{
    outline: .6rem solid rgb(255, 255, 255);
    outline-offset: -10px;
    filter: brightness(50%);
}

.grid-banners-span-1{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fafafa;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

.multi-banner-grid-width-fix .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fafafa;
    font-size: 3rem;
}

.grid-banners-span-2{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fafafa;
    font-size: 1rem;
    text-align: center;
}

.grid-banners-span-1-2{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
}

.grid-banners-span-2-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    text-align: center;
}

/*Special Offers*/
.special-offers{
    background: #000;
}

/*Footer*/
.footer{
    background: rgb(53,53,53);
    width: 100%;
}

.footer-grid{
    display: block;
    padding: 0 2.5rem;
    margin-bottom: 5rem;
}

.footer h1{
    margin-bottom: 2rem;
}

.footer-bottom-sub{
    text-align: center;
}

.footer-bottom h1,h2{
    text-align: center;
    margin: 0;
    color: #fafafa;
    text-transform: uppercase;
}

.footer-bottom p{
    text-align: center;
    margin: 4rem 15rem;
}

.footer-bottom i,
.footer-bottom span{
    color: #fafafa;
    padding: 0 auto;
    font-size: 1.5rem;
}

.social-medias{
    margin: 0 auto;
    text-align: center;
}

.social-medias i{
    cursor: pointer;
    margin: 0 2rem;
    font-size: 3rem;
}

.social-medias .fa-facebook-f{
    color: rgb(64,100,173);
}

.social-medias .fa-instagram{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
}

/*Slider*/

/*MEDIA QUERIES*/
@media screen and (min-width: 320px){
    .header{
        height: 45vh;
    }
    .nav-categories{
        display: none;
    }
    .nav-categories-icon{
        display: block;
    }
    .nav-categories-list{
        top: 6rem;
    }
    .footer-bottom p{
        margin: 4rem 2rem;
    }
}

@media screen and (min-width: 470px){
    .header{
        height: 60vh;
    }
}

@media screen and (max-width: 700px){
    button{
        padding: 1rem 2rem;
    }
    .nav-categories-icon{
        display: none;
    }
}

@media screen and (min-width: 700px){
    .header{
        height: 80vh;
    }
    .nav-categories{
        display: block;
    }
    .nav-categories-icon{
        display: none;
    }
    .nav-categories-list{
        top: 6rem;
    }
    .footer-bottom p{
        margin: 4rem 24rem;
    }
}

@media screen and (min-width: 900px){
    .header{
        height: 90vh;
    }
}

@media screen and (min-width: 1200px){
    .header{
        height: 90vh;
    }
}