//font
$title-font: blackjack;
//colors
$color-black: rgba(0, 0, 0, 1);
$color-black-light: rgba(51, 51, 51, 1);
$color-white: rgba(255, 255, 255, 1);
$color-primary-theme: rgb(255, 165, 30);
//color-pallete
$color-primary-first:rgb(255, 115, 0);
$color-primary-second:rgb(249, 144, 65);
$color-primary-third:rgb(221, 75, 26);
$color-primary-fourth:rgb(255, 77, 0);
$color-primary-fifth:#ff696e;