.wrapper-grid3{
    width: 100%;
    background: rgb(7,9,34);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, auto));
    align-items: center;
    justify-content: center;
    padding: 0 2.5rem 0 2.5rem;
  }
  .deal{
    font-size: 3rem;
    margin: 1.5rem;
    display: inline;
    text-align: center;
    color: white;
  }
  .sub-grid{
    display: grid;
    width: 1152px;
    grid-template-columns: repeat(auto-fit, minmax(288px, auto));
    grid-gap: 1rem;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: center;
  }