.wrapper-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, auto));
    max-height: auto;
    max-width: 100%;
    align-items: center;
    justify-items: center;
  }
  .layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;
    padding: 2rem 5.5rem; 
  }
  .layout:hover b{
    width: 100%;
  }
  b{
    margin-top: 1.2rem;
    width: 0%;
    background: $color-white;
    height: 2px;
    transition: all .5s; 
  }
  .under-text{  
    width: 100%;
    margin: 1.5rem auto;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    cursor: default;
  }
  .layout-1{
    background: rgb(255, 76, 76);
  }
  .layout-2{
    background: rgb(183, 0, 255)
  }
  .layout-3{
    background: rgb(0, 153, 255);
  }