.slider-box {
    margin: 0px 20px;
    height: 348px;
    width: 245px;
    position: relative;
    background-color: #FFF;
    border: 1px rgba(128, 128, 128, 0.342) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .6s;
}

.cart-link {
    text-decoration: none;
    text-align: center;
    color: #FFF;
}

.img-box {
    height: 170px;
    img {
        height: auto;
        max-width: 100%;
        max-height: 100%;
        transition: all .6s;
    }
}

.time {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f16007;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    line-height: 35px;
}

.price {
    text-decoration: none;
    text-align: center;
    color: #48cafe;
    -webkit-text-stroke: 0.5px #48cafe;
    line-height: 20px;
}

.cart {
    position: absolute;
    bottom: 0;
    height: 45px;
    background: #ff696e;
    width: 100.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s;
}

.slider-box:hover {
    box-shadow: 2px 2px 32px rgba(0, 0, 0, 0.39);
}

.slider-box:hover .img-box img {
    transform: scale(1.1);
}

.cart:hover {
    transform: scale(1.1);
    background: #48cafe;
}

.swiper-slide {
    width: 263px !important;
}