*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
    font-family: $title-font;
    src: url(../fonts/blackjack.otf);
}

html{
    scroll-behavior: smooth;
    li{
        list-style: none;
    }
    @media screen and (max-width: 600px) {

        body{
            background: no-repeat;
        }

        .header{
            height: 105vh;

            &__header-product{
                top: 5rem;
                left: 2rem;
                right: 2rem;
            }

            &__text-box{
                margin-top: 1rem;
                padding: 0 2rem;
                top: 30rem;
                left: 0rem;
                right: 0rem;
            }

            &__text-1{
                line-height: 3rem;
            }
        }

        .navigation{
            left: 1rem;
            right: 1rem;
        }

        .layout{
            padding: 2rem 19.5rem;
        }
    }

   
}

body {
    //overflow: hidden;
    padding: 0% 1.5%;
    height: 100vh;
    background: linear-gradient(225deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51%, rgb(0, 0, 0) 51%, rgb(0, 0, 0));
    background-size: cover;
    animation: start-scale 1s, start-fade 2s;
}

.main-primary {
    background-color: rgba($color-white, 1);
    box-shadow: 0 0 2rem rgba($color-black, 1);
    overflow-x: hidden;
    //height: 39rem;
    //width: auto;
}

::-webkit-scrollbar {
    width: 0px;
}