.footer{
  padding: 2rem 0rem;
  border: 1px solid #bbe;
  box-shadow: 0 0 42px rgba(10,10,10,.5);
}
.Categories,.Products,.search-box{
  margin: 1rem 2rem;
  ul{
    padding: 0px;
    list-style: none;
    }
  }
.wrapper-footer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(470px, auto));
}
.search-box{
  position: relative;
}
.email-box{
  width: 10rem;
  height: 2.25rem;
}
.subscribe{
  position: absolute;
  top: 10;
  padding: .5rem 1.5rem;
  color: white;
  background: black;
}