.header{
    background: rgb(255,140,21);
    background-size: cover;
    height: 65vh;
    position: relative;

    &__header-product{
        position: absolute;
        top: 3rem;
        right: 5rem;
    }

    &__title-hoodie{
        height: 25rem;
    }

    &__text-box{
        text-align: left;
        cursor: default;
        position: absolute;
        top: 10rem;
        left: 5rem;
    }
    
    &__text-1{
        display: inline-block;
        font-size: 40px;
        color: $color-white;
        letter-spacing: 1px;
        line-height: 6rem;
    }
    
    &__text-2{
        margin-top: -1.6rem;
        display: inline-block;
        font-size: 40px;
        color: $color-white;
        letter-spacing: 1px;
    }

    &__title-btns{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    &__title-btn1,
    &__title-btn2{
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background: transparent;
        border: 1.1px solid white;
        color: $color-white;
        border-radius: 1rem;
        padding: 0.5rem 2.5rem;        
    }
}

.title-products{
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    &__b{
        background-color: black;
        height: 1px;
        opacity: .2;
        flex: 1;
    }

    &__title-products{
        padding: 1rem 4rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.788);
        border: 2px solid rgba(0, 0, 0, 0.2);
    }
}